@import "tailwindcss";

@font-face {
  font-family: 'IranSans';
  src: url('/fonts/IRANSansMobileNoEn Medium') format('ttf'),
       url('/fonts/IRANSansMobileNoEn Medium') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranSans';
  src: url('/fonts/IRANSansMobileNoEn Bold') format('ttf'),
       url('/fonts/IRANSansMobileNoEn Bold') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}





body {
  background-color: #f4f4f4;
  color: var(--foreground);
  font-family: 'IranSans';
}
